@tailwind base;
@tailwind components;
@tailwind utilities;
/* .container{
  display:flex;
  width:100%;
  height:58vh;
  margin-top:19em;
} */
/* .getting-started{
  background-color:#e8e5e6;
  width:30%;
  padding:3em;
}
.getting-started h4{
  text-align:left;
}
.getting-started p{
  font-size:1.5em;
}
button{
  padding:1.4em;
  width:40%;
  background-color:#010101;
  color:#ffffff;
  border:none;
  outline:none;
}
 */
/* .image-holder{
  width:70%;
}
img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:50% 50%;
}
.gallery{
  padding:2em;
  height:200vh;
}
.image-pop{
  width:20%;
  height:30vh;
  position:relative;
}
#one{
  top:3em;
  left:5em;
}
#two{
  top:4em;
  left:60%;
}
#three{
  top:8em;
  left:10%;
}
#four{
  top:3em;
  left:70%;
}
#five{
  top:6em;
  left:30%;
}
 */
/*:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#scrollContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* Paramètres généraux */
@font-face {
  font-family: "Combo-Regular";
  src: url( ./assets/fonts/Combo/Combo-Regular.ttf);
}
@font-face {
  font-family: "IndieFlower-Regular";
  src: url(./assets/fonts/Indie_Flower\,Mouse_Memoirs/Indie_Flower/IndieFlower-Regular.ttf);
} 
@font-face {
  font-family: "MouseMemo_Regular";
  src: url(./assets/fonts/Indie_Flower\,Mouse_Memoirs/Mouse_Memoirs/MouseMemoirs-Regular.ttf);
}
@font-face {
  font-family: "font-bold";
  src: url(../fonts/PlayfairDisplay-ExtraBold.ttf);
}
* {
  padding: 0;
  margin: 0;
}
*::selection {
  background: #000101;
  color: #fefeff;
}
html {
  scroll-behavior: smooth;
}
body { 
  /* font-family: "Combo-Regular", sans-serif; */
  font-family: "IndieFlower-Regular", sans-serif;
/*   font-family: "MouseMemo_Regular", sans-serif; */
  background: #000101;
  color: #fefeff;
  transition: 0.7s ease-in-out;
}
.sectionBg {
  background-image: url(./assets/img/bg4.jpg);
}
.wrapper {
  perspective: 90px;
}
.appear {
  opacity: 0;
  transform: translateY(100%) rotateX(-80deg);
  transform-origin: top center;
  transform-style: preserve-3d;
  transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.appear.is-inview {
  transition-delay: 1s;
  opacity: 1;
  transform: none;
}
h2 {
  font-size: calc(3rem + 5vw);
  text-align: center;
  color: rgb(217, 217, 217);
  /* font-family: "IndieFlower-Regular", sans-serif;*/
/*   font-family: "MouseMemo_Regular", sans-serif; 
 */  font-family: "Combo-Regular", sans-serif;
  letter-spacing: 3px;
}
.title {
  font-size: calc(1.5rem + 5vw);
  letter-spacing: 0;
  color: #f00c67; 
}
span {
  display: inline-block;
}
a,
a:visited {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #f00c67;
  transition: 0.1s linear;
  font-size: calc(0.8rem + 0.8vw);
}
a::after {
  content: "";
  position: absolute;
  width: 100%;
  background: #fefeff;
  height: 1px;
  bottom: -4px;
  left: 0;
  transform-origin: left;
}
a:hover {
  transform: scale(1.04);
  color: rgb(217, 217, 217);
}
a:hover::after {
  animation: animLink 1.4s infinite ease-in-out;
}
@keyframes animLink {
  50% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}
.img {
  height: 395px;
  width: 100vw;
  max-width: 395px;
  margin: 0 auto;
  filter: grayscale(100%);
  transition: 1.6s;
}
.img:hover {
  filter: grayscale(10%);
}
.imgNoFiltred {
  height: 395px;
  width: 100vw;
  max-width: 395px;
  margin: 0 auto;
  filter: grayscale(10%);
  transition: 1.6s;
}
.img3 {
  background: url(./assets/img/js4.png) top/cover;
  opacity: 0;
  transform: translateY(100%) rotateX(-80deg);
  transform-origin: top center;
  transform-style: preserve-3d;
  transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.img3.is-inview {
  transition-delay: 1s;
  opacity: 1;
  transform: none;
}
.line {
  height: 2px;
  width: 70%;
  margin: 0 auto;
  background: #000101;
  transition: 1s cubic-bezier(0.77, 0, 0.18, 1);
  transition-delay: 0.65s;
  transform-origin: left;
  opacity: 0;
  transform: scaleX(0);
}
.line2 {
  height: 2px;
  width: 70%;
  margin: 0 auto;
  background: #fadcef;
  transition: 1s cubic-bezier(0.77, 0, 0.18, 1);
  transition-delay: 0.65s;
  transform-origin: left;
  opacity: 0;
  transform: scaleX(0);
}
.line-wrapper.is-inview .line {
  opacity: 1;
  transform: scaleX(1);
}

/* Paramètres par ordre d'apparition */
header {
  height: 100vh;
  position: relative;
  margin: 2vw 2vw 0;
}
.links {
  display: flex;
  justify-content: space-between;
}
#h1-wrapper {
  transition-delay: 0.3s;
}
h1 {
  font-size: calc(2rem + 8vw);
  margin-top: 70px;
  font-family: "IndieFlower-Regular", sans-serif;
  letter-spacing: 6px;
  color: #fefeff;
  text-align: center;
}
header h2 {
  font-size: calc(1rem + 6.5vw);
  margin: 18px 0;
  text-align: left;
}
#h2-1 {
  transition-delay: 0.9s;
}
#h2-2 {
  transition-delay: 1.2s;
}
#h3-1 {
  transition-delay: 0.9s;
}
#h3-2 {
  transition-delay: 1.2s;
}
.scroll-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3.5vw;
  color: rgb(217, 217, 217);
  font-size: calc(0.8rem + 0.5vw);
}
.about {
  margin: 400px 0 250px;
}
.img-header {
  background: url(./assets/img/bg-zoid.png) top/cover;
  border-radius: 50%;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -112.638, 0, 1);
}
.img1 {
  background: url(./assets/img/js4.png) cover;
}
.h2-wrapper {
  mix-blend-mode: exclusion;
  margin: -220px 0 200px;
}
.about p {
  width: 70%;
  min-width: 280px;
  text-align: center;
  margin: 0 auto;
  line-height: calc(7px + 4.5vw);
  font-size: calc(1rem + 1vw);
  letter-spacing: 1px;
}
.skills {
  margin: 200px 0 250px;
}
.skills h2 {
  margin-bottom: 150px;
}
.skills .wrapper {
  margin: 30px 0;
}
.skills .appear {
  text-align: center;
  transition-delay: 0.6s;
}
.skills p {
  font-size: calc(1rem + 6vw);
  font-family: "font-bold", serif;
  letter-spacing: 4px;
  background: #000101;
  color: #fefeff;
  display: inline-block;
  padding: 0 12px 12px;
}
.portfolio {
  margin: 200px 0;
}
.projects-container {
  margin-top: 100px;
}
.project {
  position: relative;
  width: 60vw;
  max-width: 600px;
  margin: 50px 5vw;
}
.project::before {
  content: "";
  position: absolute;
/*   height: 110%; */
  width: 100%;
  top: -3px;
  background: #fefeff;
  transition: width 1s ease-out;
  transition-delay: 0.85s;
}
.project.is-inview::before {
  width: 0;
}
#p2 {
  margin: 0 6vw 0 auto;
}
#p3 {
  margin-left: 8vw;
}
.project img {
  transition: 0.4s ease-out;
  width: 100%;
}
.project:hover img {
  filter: brightness(20%);
}s
.project:hover .project-infos {
  opacity: 1;
  transform: translate(0, -50%);
}
.project-infos {
  position: absolute;
  top: 50%;
  transform: translate(-50px, -50%);
  margin-left: 8vw;
  transition: 0.4s ease-out;
  opacity: 0;
}
.project-infos a {
  font-size: calc(1rem + 3vw);
}
.project-infos p {
  font-size: 2rem;
  margin-top: 1.5vw;
  color: #fefeff;
}
footer {
  margin: 150px 0 120px;
}
footer p {
  font-size: calc(1rem + 2vw);
  margin: 25px 0;
  text-align: center;
}
#l2 {
  transition-delay: 1.2s;
}
#l3 {
  transition-delay: 1.6s;
}
footer a {
  font-family: "IndieFlower-Regular", sans-serif;
  color: #000101;
  font-size: calc(1rem + 2vw);
}
.sm-img {
  height: 16px;
  width: auto;
}
.xs-img {
  height: 64px;
  width: auto;
}

.md-img {
  height: 128px;
  width: auto;
}


.ls-img {
  height: 256px;
  width: auto;
}

.xl-img {
  height: 1024px;
  width: auto;
}


.img2 {
  background: url(./assets/img/framasoft.png) center/cover;
}
.img--monkey1 {
  background: url(./assets/img/warrior1.png);
}
.img--monkey1 {
  background: url(./assets/img/warrior1.png);
}
.img--monkey1 {
  background: url(./assets/img/warrior1.png);
}
.img--monkey1 {
  background: url(./assets/img/warrior1.png);
}
.img--monkey1 {
  background: url(./assets/img/warrior1.png);
}
.img--monkey1 {
  background: url(./assets/img/warrior1.png);
}
.img--monkey2 {
  background: url(./assets/img/hacker.png);
}
.img--monkey3 {
  background: url(./assets/img/question.png);
}
.img--castor1 {
  background: url(./assets/img/questionCastor.png);
}
.img--monkey4 {
  background: url(./assets/img/fighter.png);
}
.img--monkey1 {
  background: url(./assets/img/warrior1.png);
}
.img--castrorFight {
  background: url(./assets/img/warrior1.png);
}
.img--radash {
  background: url(./assets/img/banner.png);
}
/* .img--monkey1 {
  background: url(./assets/img/warrior1.png);
}
.img--monkey1 {
  background: url(./assets/img/warrior1.png);
}
.img--monkey1 {
  background: url(./assets/img/warrior1.png);
}
.img--monkey1 {
  background: url(./assets/img/warrior1.png);
}
 */
